

<section>
  <div class="content" data-section-content>
    <div class="row">
      <div class="large-12 small-12 columns">
        <ul class="button-list">
          <% Genre.each do |genre| %>
          <li>
            <%= link_to genre.name, category_films_url(action: :popular, sort_by: :popularity, genres: genre), alt: "view films in genre category #{genre}"  %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>

