<div id="viewContent"  class="twelve columns" >
  <div class="row">
    <div id="userList" class="twelve columns centered">
      <%= form_for list, url: list_path(list), method: :put do |l|%>
        <%= render partial: 'form', locals:{list_form: l} %>
      <% end %>
    </div>
  </div>
</div>
