<div id="channel-facebook" class="twelve columns" style="display:none" data-bind="foreach: friends, visible: true">
  <div  class="left friend-avatar">
    <%= link_to '#', 'data-bind' => "attr: { href: '/' + username + '/lists' }", remote: true do %>
      <img data-bind='attr: { src: avatarURL }'>
      <label data-bind="text: username"></label>
    <% end %>
  </div>
</div>


<script>
  $(document).on('facebook:connected', ViewModel.loadFriends)
// if(!ViewModel.friendsList)
//   ViewModel.loadFriends()
// else
//   Bindings.ko_apply(ViewModel.friendsList, 'channel-facebook')
</script>