 <div id="myMovieLocation">
 <img src="http://cdn0.nflximg.net/images/7548/2377548.jpg" /><br />

<a id="addMe" href="#" onclick="javascript:nflx.addToQueue('http://api-public.netflix.com/catalog/titles/movies/70038540', 10, 20, 'rxbsfzz89y2sxgfjkcadsk48', 'instant', 'addMe');">Add The King of Kong to DVD Queue</a>
 <script src="http://jsapi.netflix.com/us/api/js/api.js"></script>
 </div>