
  <input name="_method" type="hidden" data-bind="value: dataMethod()">
  <label>How will this list be known?</label>
  <input type="text" name="films_list[name]" data-bind="value: name" placeholder='Title'/>
  <label>What's the reasoning?</label>
  <textarea  name="films_list[description]" data-bind="value: description" placeholder='Description' cols="40" rows="20"></textarea>

    <div class="twelve columns">
      <div class="row collapse">
        <div class="one mobile-one columns">
          <span class="prefix"><%= image_tag "search.png"%></span>
        </div>
        <div class="six mobile-three columns">
          <input type="text" id="quick_search" size="30" value="" autocomplete="off" class="ss-input">
        </div>
        <div class="three mobile-three columns">
          <a data-bind="attr: {href: url}" data-remote=true class ='radius button'>Cancel</a>
          <button data-bind="click: save" class="button radius">Save</button>
          <button data-bind="click: remove" class="button radius">Delete</button>

        </div>

      </div>
    </div>

    <!-- Thumbnails -->
    <div class="twelve columns" >
      <div class="row films">
        <ol data-bind="foreach: films" class="sortable">
          <input type="hidden" data-bind="value: film.id" name="films[]"/>
          <li class="twelve columns">  
            <a data-bind="attr: { href: film.url, title: film.title }" data-remote="true" class="one columns">
              <img data-bind="attr: {src: film.thumbnail, title: film.title }"/>
            </a>
            <div class="six columns">
              <h4 data-bind="text: film.title"/>
              <h5 data-bind="text: film.release_date"></h5>
            </div> 
            <div class="four columns">
              <div class="film-actions-vertical pagination-centered">
                <button data-bind="click: $parent.removeFilmItem">
                  <i class="icon-remove icon-2x"></i>
                 </button>
              </div>
            </div>
          </li>
        </ol>
      </div>
    </div>


<script>
$(function(){
  $('#quick_search').smartSuggest({src: '/films/quick_search', showImages:true })
  $('.sortable').sortable();
})
</script>