
  <input name="_method" type="hidden" data-bind="value: dataMethod()">
  <label>Title:</label>
  <input type="text" name="films_list[name]" data-bind="value: name" placeholder='Title'/>
  <label>Overview:</label>
  <textarea  name="films_list[description]" data-bind="value: description" placeholder='Description' cols="40" rows="20"></textarea>

    <div class="twelve columns">
      <div class="row collapse">
        <div class="one mobile-one columns">
          <span class="prefix"><%= image_tag "search.png"%></span>
        </div>
        <div class="four mobile-three columns">
          <input type="text" id="quick_search" size="30" value="" autocomplete="off" class="ss-input">
        </div>
        <div class="three mobile-three columns">
          <%= link_to 'Cancel',:back, :class=>'button radius' %>
          <button data-bind="click: save" class="button radius">Save</button>
          <% if !@films_list.new_record?%>
            <%= link_to 'Delete', user_list_path(current_user, @films_list), method: :delete, :class=>'button radius' %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Thumbnails -->
    <div class="twelve columns" >
      <div class="row films" id="userList">

        <ol data-bind="foreach: films" class="twelve columns sortable" >
          <li data-bind="attr: {'data-item-id': film.id()}">  
            <div class="row">
              <div class="one column">
                <label data-bind="text: position" class="position"></label>
              </div>
              <div class="one column">
                <a data-bind="attr: { href: film.url, title: film.title }" >
                  <img data-bind="attr: {src: film.thumbnail, title: film.title }"/>
                </a>
              </div>
              <div class="four columns">
                <label data-bind="text: film.title" class="title"></label>
                <label data-bind="text: film.release_date"></label>
              </div> 
              <div class="two columns">
                <div class="film-actions-vertical pagination-centered">
                  <button data-bind="click: $root.removeFilmItem">
                    <i class="icon-remove icon-2x"></i>
                   </button>
                </div>
              </div>
            </div>
          </li>
        </ol>
      </div>
    </div>


<script>
$(function(){
  $('#quick_search').smartSuggest({src: '/films/quick_search', showImages:true })
})
</script>