<form data-bind="attr: {action: url, method: dataMethod()}"  data-viewmodel="true" data-remote="true">
  <input name="_method" type="hidden" data-bind="value: dataMethod()">
  <label>How will this list be known?</label>
  <input type="text" name="films_list[name]" data-bind="value: name" placeholder='Title'/>
  <label>What's the reasoning?</label>
  <textarea  name="films_list[description]" data-bind="value: description" placeholder='Description' cols="40" rows="20"></textarea>
  <%= render partial: 'films/film' %>
  <%= submit_tag 'Save', :class=>"button radius" %>
  <a data-bind="attr: {href: url}" data-method="delete" data-remote=true data-confirm="Are you sure?" rel="nofollow" class ='radius button'>Delete</a>
</form>