<%= render layout: 'layouts/viewmodel', locals: {model: 'ListsModel'} do %>

<!-- <div class="row">
  <div class="six columns centered">
    <dl class="sub-nav">
      <dd class="active"><a href="#">All</a></dd>
      <dd><a href="#">Active</a></dd>
      <dd><a href="#">Pending</a></dd>
      <dd><a href="#">Suspended</a></dd>
    </dl>
  </div>
</div> -->

<div class="row">

</div>

<div class="row centered">
  <div class="eight columns">
    <dl>
      <dt><h5>Your lists</h5></dt>
    <!-- ko foreach: lists -->
      <dd>
        <div class="row list-summary">  
          <div class="six columns">
            <label> 
                <a data-bind="text: name, attr: {href: url}" ></a>
            </label>    
        
            <div class="row">
            <!-- Thumbnails -->
              <div class="twelve columns films" data-bind="foreach: films">
                <div class="film film-small" >
                  <img data-bind="attr: {src: film.thumbnail, title: film.title}" class="small"/>
                </div>
              </div>
            </div>
          </div>
          <div class="six columns">
           <p data-bind="text: description"> </p>
         </div>
        </div>
      </dd>
    <!-- /ko -->
    </dl>
  </div>
  <div class="two columns">
    <%= link_to 'New List', new_user_list_path, {:class => 'radius button', remote:true} %>
  </div>
</div>
<% end %>