<%= render layout: 'layouts/viewmodel', locals: {model: 'ListsModel'} do %>


  <div class="row">
    <div class="twelve columns">
      Create or modify lists here!
      <%= link_to 'New List', new_user_list_path, {:class => 'radius button', remote:true} %>
    </div>
  </div>
  <!-- ko foreach: lists -->
  <div class="row list-summary">  
    <div class="six columns">
      <label> 
          <a data-bind="text: name, attr: {href: url, 'data-remote':true, 'data-viewmodel':true}" ></a>
      </label>    
    
      <div class="row">
        <%= render partial: "films/film_small" %>
      </div>

    </div>
     <p data-bind="text: description"> </p>
  </div>
  <!-- /ko -->


<% end %>