<%= render layout: 'layouts/viewmodel', locals: {model: 'FilmsListModel'} do %>
<div class="row">
  <div id="userList" class="eleven columns centered">
    <%= render 'form' %>
  </div>
</div>
<% end %>