<div id="userList" >
<%= form_for([current_user, @presenter.films_list], url: user_list_path(current_user.username , @presenter.films_list.id)) do |list| %>
  <label>How will this list be known?</label>
  <%= list.text_field :name, placeholder: 'Title' %>
  <label>What's the reasoning?</label>
  <%= list.text_area :description, placeholder: 'Description' %>
   <div class="row">
    <div class="twelve columns">
      <div class="row films">
        <%= render partial:'shared/film', collection: @presenter.films_from_queue %>
      </div>
    </div>
  </div>
  <input type="submit" class="button radius right" value="Save" />
<% end %>
</div>