<%= render layout: 'layouts/viewmodel', locals: {model: 'FilmsListModel'} do %>
<% if !viewing_own? %>

<div class="row">
  <div class="twelve columns centered">
    <h4><%= @films_list.user.username %></h4>
  </div>
</div>

<% end %>


  <div  class="twelve columns centered">
    <h3 data-bind="text: name"> </h3>
    <p data-bind="text: description"></p>

    <%= content_tag :a, 'Edit', data:{bind: 'attr: {href: edit_url}'}, :class=>'radius button right' if viewing_own?%>
  </div>
<div class="twelve columns films" id="userList">

  <ol data-bind="foreach: films" >
    <li >  
      <div class="one column">
        <label data-bind="text: $index() + 1" class="position"></label>
      </div>
      <div class="one columns">
        <a data-bind="attr: { href: film.url, title: film.title }" >
          <img data-bind="attr: {src: film.thumbnail, title: film.title }"/>
        </a>
      </div>
      <div class="four columns">
        <label data-bind="text: film.title" class="title"></label>
        <label data-bind="text: film.release_date"></label>
      </div> 
      <div class="four columns">
        <div class="film-actions-vertical pagination-centered" data-bind="foreach: film.actions">
          <button data-bind="click: action">
            <i data-bind="css: actionCSS" class="icon-2x"></i>
            <label class="count" ></label>
          </button>
        </div>
      </div>
    </li>
  </ol>
</div>

<% end %>
