<% if flash[:error] %>
  <div class="alert-box alert twelve columns centered">
    <span class="message"><%= flash[:error] %></span>        
  </div>
<% else %>  
  <div class="alert-box success twelve columns centered">
    <span class="message"><%= "Film #{@film.title} added to list '#{link_to @list.name, user_list_path(current_user, @list)}'".html_safe %></span>      
  </div>
<% end %>