<!-- Thumbnails -->
  <div class="ten columns films" data-bind="foreach: films">
    <a class="film film-small" data-bind="attr: {href: url}, css:{'film-selected': selected}, click: select">
      <img data-bind="attr: {src: thumbnail, title: title}" class="small"/>
    </a>
  </div>