<div class="row">
  <div class="eight columns">
    <% if logged_in? %>
    <div class="row films">
      <%= link_to "Watched", user_film_path(current_user, :watched), remote:true, data:{viewmodel:true} %>
      <%= link_to "Loved", user_film_path(current_user, :loved), remote:true, data:{viewmodel:true} %>
      <%= link_to "Unloved", user_film_path(current_user, :unloved), remote:true, data:{viewmodel:true} %>
      <%= link_to "Owned", user_film_path(current_user, :owned), remote:true, data:{viewmodel:true} %>
      <%#= link_to "Queued", user_film_path(current_user, :queued) %>
    </div>
    <% else %>
    <div class="row films">
      <i class="icon-eye"></i>
    </div>
    <% end %>
  </div>
</div>