<div class="row">
  <div class="eight columns">
    <% if logged_in? %>
    <div class="row films">
      <%= link_to "Watched", user_film_path(current_user, :watched) %>
      <%= link_to "Loved", user_film_path(current_user, :loved) %>
      <%= link_to "Unloved", user_film_path(current_user, :unloved) %>
      <%= link_to "Owned", user_film_path(current_user, :owned) %>
      <%#= link_to "Queued", user_film_path(current_user, :queued) %>
    </div>
    <% else %>
    <div class="row films">
      <i class="icon-eye"></i>
    </div>
    <% end %>
  </div>
</div>