<% pagination ||= paginate @films %>
<div class="row margin-bottom" id="films-content">
  <div class="large-12 columns text-center">
    <%= pagination %>
  </div> 
  <% @films.each do |film| %>
    <%= render partial: 'films/film', object: film %>
  <% end %>
  <div class="large-12 columns text-center">
    <%= pagination %>
  </div>   
</div>

