
<div class="row margin-bottom">
  <div class="large-12 small-12 columns">
    <div class="inner-tabs">
      <div class="section-container auto" data-section>
        <section>
          <p class="title" data-section-title><a href="#panel10"><%= "Friends recommend (#{presenter.friends_recommmenations.count})" %></a></p>
          <div class="content" data-section-content>
            <ol >
              <% presenter.friends_recommmenations.each do |recommendation| %>
                <%= render partial: 'user_recommendations/received', locals: {film: recommendation.recommendable, user: recommendation.user, recommendation: recommendation} %>
              <% end %>
            </ol>
          </div>
        </section>
        <section>
          <p class="title" data-section-title><a href="#panel11"><%= "You recommend (#{presenter.user_recommendations.count})" %></a></p>
          <div class="content" data-section-content>
            <ol >
              <% presenter.user_recommendations.each do |recommendation| %>
                <%= render partial: 'user_recommendations/sent', locals: {film: recommendation.recommendable, user: recommendation.friend, recommendation: recommendation} %>
              <% end %>
            </ol>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>