
<div class="row margin-bottom">
  <div class="large-12 small-12 columns">
    <div class="inner-tabs">
      <div class="section-container auto" data-section>
        <section>
          <p class="title" data-section-title><a href="#panel10"><%= "Friends recommend (#{presenter.received_film_recommmenations.count})" %></a></p>
          <div class="content" data-section-content>
            <ol >
              <% presenter.received_film_recommmenations.each do |film_entry| %>
                <%= render partial: 'film_recommendations/sent', locals: {film_entry: film_entry} %>
              <% end %>
            </ol>
          </div>
        </section>
        <section>
          <p class="title" data-section-title><a href="#panel11"><%= "You recommend (#{presenter.sent_film_recommendations.count})" %></a></p>
          <div class="content" data-section-content>
            <ol >
              <% presenter.sent_film_recommendations.each do |film_entry| %>
                <%= render partial: 'film_recommendations/sent', locals: {film_entry: film_entry} %>
              <% end %>
            </ol>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>