<% present(user, UserPresenter) do |presenter| %>
  <div class="full-row inner-hero margin-bottom">
    <div class="row">
      <div class="large-12 small-12 columns">
        <div class="right-fade"></div>
        <div class="left-fade"></div>
        <%= presenter.cover_image %>
      </div>
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="large-12 small-12 columns">
      <div class="pod margin-bottom account">
        <%= presenter.avatar %>
        <h2><%= user.username %> - Your profile</h2>
        <a href="#" class="secondary button">Log out</a>
      </div>
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="large-12 small-12 columns">
      <div class="inner-tabs">
        <div class="section-container auto" data-section>
          <section>
            <p class="title" data-section-title><a href="#panel1">Films</a></p>
            <div class="content" data-section-content>
              <div class="row">
                <div class="large-2 small-6 columns">
                  <div class="flip-container">
                    <div class="upper">
                      <img src="img/content/django-unchained.jpg" width="342" height="513" alt="Django Unchained" />
                    </div>
                    <div class="lower">
                      <ul>
                        <li class="complete watched"><a href="#">Watched</a></li>
                        <li class="loved"><a href="#">Loved</a></li>
                        <li class="owned"><a href="#">Own</a></li>
                      </ul>
                      <p><a href="#" data-reveal-id="filminfo" class="button">More info</a></p>
                    </div>
                  </div>
                  <ul class="user-rankings">
                    <li class="watched"><a href="#">21</a></li>
                    <li class="loved"><a href="#">11</a></li>
                    <li class="owned"><a href="#">2</a></li>
                  </ul>
                </div>
                <div class="large-2 small-6 columns">
                  <div class="flip-container">
                    <div class="upper">
                      <img src="img/content/django-unchained.jpg" width="342" height="513" alt="Django Unchained" />
                    </div>
                    <div class="lower">
                      <ul>
                        <li class="complete watched"><a href="#">Watched</a></li>
                        <li class="loved"><a href="#">Loved</a></li>
                        <li class="owned"><a href="#">Own</a></li>
                      </ul>
                      <p><a href="#" data-reveal-id="filminfo" class="button">More info</a></p>
                    </div>
                  </div>
                  <ul class="user-rankings">
                    <li class="watched"><a href="#">21</a></li>
                    <li class="loved"><a href="#">11</a></li>
                    <li class="owned"><a href="#">2</a></li>
                  </ul>
                </div>
                <div class="large-2 small-6 columns end">
                  <div class="flip-container">
                    <div class="upper">
                      <img src="img/content/django-unchained.jpg" width="342" height="513" alt="Django Unchained" />
                    </div>
                    <div class="lower">
                      <ul>
                        <li class="complete watched"><a href="#">Watched</a></li>
                        <li class="loved"><a href="#">Loved</a></li>
                        <li class="owned"><a href="#">Own</a></li>
                      </ul>
                      <p><a href="#" data-reveal-id="filminfo" class="button">More info</a></p>
                    </div>
                  </div>
                  <ul class="user-rankings">
                    <li class="watched"><a href="#">21</a></li>
                    <li class="loved"><a href="#">11</a></li>
                    <li class="owned"><a href="#">2</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
          <section>
            <p class="title" data-section-title><a href="#panel2">Recommendations</a></p>
            <div class="content" data-section-content>
              <p>Recommendations</p>
            </div>
          </section>
          <section>
            <p class="title" data-section-title><a href="#panel3">Lists</a></p>
            <div class="content" data-section-content>
              <p>Lists</p>
            </div>
          </section>
          <section>
            <p class="title" data-section-title><a href="#panel4">Friendships</a></p>
            <div class="content" data-section-content>
              <p>Friendships</p>
            </div>
          </section>
          <section>
            <p class="title" data-section-title><a href="#panel5">Details</a></p>
            <div class="content" data-section-content>
              <div class="row">
                <div class="large-7 small-12 columns">
                  <form id="profile-details" action="#">
                    <div class="row">
                      <div class="large-4 small-12 columns">
                        <label for="username">Username:</label>
                      </div>
                      <div class="large-8 small-12 columns">
                        <input type="text" name="username" id="username">
                      </div>
                    </div>
                    <div class="row">
                      <div class="large-4 small-12 columns">
                        <label for="email">Email:</label>
                      </div>
                      <div class="large-8 small-12 columns">
                        <input type="text" name="email" id="email">
                      </div>
                    </div>
                    <div class="row">
                      <div class="large-4 small-12 columns">
                        <label for="firstname">First name:</label>
                      </div>
                      <div class="large-8 small-12 columns">
                        <input type="text" name="firstname" id="firstname">
                      </div>
                    </div>
                    <div class="row">
                      <div class="large-4 small-12 columns">
                        <label for="lastname">Last name:</label>
                      </div>
                      <div class="large-8 small-12 columns">
                        <input type="text" name="lastname" id="lastname">
                      </div>
                    </div>
                    <div class="row">
                      <div class="large-4 small-12 columns">
                        <label for="avatar">Upload an avatar:</label>
                      </div>
                      <div class="large-8 small-12 columns">
                        <input type="text" name="avatar" id="avatar">
                      </div>
                    </div>
                    <div class="row">
                      <div class="large-4 small-12 columns">
                        <label for="newpassword">New password:</label>
                      </div>
                      <div class="large-8 small-12 columns">
                        <input type="text" name="newpassword" id="newpassword">
                      </div>
                    </div>
                    <div class="row">
                      <div class="large-4 small-12 columns">
                        <label for="confirmpassword">Confirm password:</label>
                      </div>
                      <div class="large-8 small-12 columns">
                        <input type="text" name="confirmpassword" id="confirmpassword">
                      </div>
                    </div>
                    <div class="row">
                      <div class="large-4 small-12 columns">
                        <label for="oldpassword">Old password:</label>
                      </div>
                      <div class="large-8 small-12 columns">
                        <input type="text" name="oldpassword" id="oldpassword">
                      </div>
                    </div>
                    <div class="row">
                      <div class="large-4 small-12 columns">
                        <p>Add a passport:</p>
                      </div>
                      <div class="large-8 small-12 columns passports">
                        <i class="icon-netflix actioned"></i>
                        <i class="icon-vimeo"></i>
                        <i class="icon-facebook actioned"></i>
                        <i class="icon-google"></i>
                      </div>
                    </div>
                    <div class="row">
                      <div class="arge-12 small-12 columns text-center">
                        <input type="submit" name="update" id="update" value="Update">
                      </div>
                    </div>
                  </form>
                </div>
                <div class="large-5 small-12 columns">
                  <div class="thanks">
                    <h3>Thanks for joining</h3>
                    <ul>
                      <li>Create your own film lists to record what you have seen</li>
                      <li>Share the films you own with friends and family</li>
                      <li>See who shares the same film tastes as you do</li>
                      <li>Get personalised recommendations for films you’ve not seen</li>
                      <li>Find out local cinema times and arrange times to meet your friends</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section>
            <p class="title" data-section-title><a href="#panel6">Settings</a></p>
            <div class="content" data-section-content>
              <p>Settings</p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
<% end %>