<% set_meta_tags :title => "#{title_with_year(film)} - trailer" %>


<div class="large-12 columns" id="film-content-trailer">
  <%= render partial:'film_poster' %>
  <div class="large-8 columns">
      <%= trailer film %>
  </div>
</div>