<% description "Discover films that are #{trend}" %>
<% title "#{trend} films" %>

<div class="row green-row panels text-center">
  <div class="large-12 small-12 columns">
      <h2>
        films by trend
      </h2>
      <h5 class="subheader" >
        <%= trend %>
      </h5>
  </div>
</div>
<div class="row" id="filmsIndex">
  <%= render partial: 'films/films' %>
</div>