<div class="full_overlay film" id='<%="film#{film.film.id}"%>'  >
   <%= link_to film_path(film.film.id) do %>
  <div class="content">
    <div class="film-title">
      <h4 data-bind:"text: title"/>
      <p data-bind:"text: release_date"></p>
    </div>
    <ul class="film-actions">
      <% if logged_in? %>
      <div class="film-actions-horizontal">

        <a href="#" data-bind="click: $root.actionFilm" rel="nofollow">
          <i class="icon-eye-open" data-bind="css: state('watched')"></i>
        </a>

        <a href="#" data-bind="click: $root.actionFilm" rel="nofollow">
          <i class="icon-eye-heart" data-bind="css: state('loved')"></i>
        </a>

        <a href="#" data-bind="click: $root.actionFilm" rel="nofollow">
          <i class="icon-eye-home" data-bind="css: state('owned')"></i>
        </a>
        
        <a href="#" data-bind="click: $root.actionFilm" rel="nofollow">
          <i class="icon-eye-pushpin" data-bind="css: state('queued')"></i>
        </a>
        
      </div>
      <% else %>
        <i class="icon-eye"></i>
      <% end %>
      <%#= film_action_link :queued, film, "icon-pushpin" %>
    </ul>
  </div>
  <% end %>
   <%= link_to film_path(film.film.id) do %>
    <%= image_tag(film.thumbnail, :title => film.title) %>
  <% end %>
</div>