<div class="friendship">
  <%= link_to friendship_path(friend), method: :delete, remote: true, data: {friendship: :cancel}, :class=>'tiny button secondary radius alert' do %>
    <span>Cancel Request</span>
  <% end %>
</div>