<% if logged_in? %>
  <ul class="film-actions">
    <div class="film-actions-horizontal">
      <%= render partial: "films/action_buttons", locals: {film_presenter: film_presenter} %>
    </div>  
  </ul>
<% end %>