<div class="margin-bottom pod actions">
  <ul>
    <%= presenter.action_list_item :watched, 'Watched' %>
    <%= presenter.action_list_item :loved, 'Loved' %>
    <%= presenter.action_list_item :owned, 'Own' %>
    <li class="add"><a href="#">Add</a></li>
    <li class="share"><a href="#">Share</a></li>
  </ul>
</div>