<!-- backdrops -->
<% if film.has_backdrop? %>
  <div id='featured'>
    <% film.backdrops.each do | backdrop | %>
      <%= backdrop film, backdrop, size  %>
    <% end %>
  </div>
<% end %>

<script> $("#featured").orbit({directionalNav:true, fluid:false, timer:false})</script>