<!-- backdrops -->
<% if film.has_backdrop? %>
  <div class="slideshow-wrapper">
    <div class="preloader"></div>
    <ul  data-orbit>
      <% film.backdrops.each do | backdrop | %>
        <li><%= backdrop film, backdrop, size  %></li>
      <% end %>
    </ul>
  </div>
<% end %>

