<section>
  <p class="title" data-section-title><a href="#panel2">Crew</a></p>
  <div class="content" data-section-content>
    <div class="row">
      <div class="large-12 small-12 columns">
        <ul class="button-list">
          <% presenter.credits.crew.uniq do |person| %>
            <li itemscope itemtype="http://schema.org/Person">
              <%= link_to person_path(person.id), itemprop: 'url'  do %>
                <span itemprop="name"><%= person.name %></span>
              <% end %> 
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
