<ul class="film-actions">
  <div class="film-actions-horizontal" data-bind="foreach: actions">
    <div class="tiled left">
      <a data-bind="click: action">
        <i data-bind="css: actionCSS"></i>
      </a>
    </div>
  </div>
</ul>