<% set_meta_tags :title => "#{title_with_year(film)} - images" %>

<div class="row images">
  <div class="twelve columns">
      <%= render partial: 'backdrop', locals: {film: film} %>
  </div>
</div>