<section>
  <p class="title" data-section-title><a href="#panel3">Media</a></p>
  <div class="content" data-section-content>
    <div class="row">
      <div class="large-12 small-12 columns">
        <ul data-orbit>
          <% presenter.film.backdrops.each do | backdrop | %>
            <li><%= presenter.backdrop backdrop, 'w780'  %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>