<% set_meta_tags :title => "#{title_with_year(film)} - similar films" %>

<div class="twelve columns" id="film-content-similar">
  <%= render partial:'film_poster'%>
  <div class="nine columns films" id="filmsContent" >
  <% if film.similar? %>
    <%= render partial: 'films/film', collection: film.similar, as: :film %>
  <% end %>
  </div>
</div>