<% if @film_view.similar_films? %>
  <div class="row">
    <div class="twelve columns crew">
      <ul class="disc credits">
      <% @film_view.similar_films.each do |film_view| %>
        <div class="film-small">
        <% if film_view.film.id %>
          <%= link_to film_path(film_view.film.id) do %>
            <%= poster(film_view.film, 'w45') %>
          <%end %>
           <span class="right"> <%= film_view.title %> </span>
        <% end %>
        </div>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>