<div id="filmTrailersModal" class="reveal-modal medium">
  <div class="row">
    <div class="twelve columns pagination-centered">
      <%= advert "sky_now_movies" %>      
    </div>
  </div>

  <div class="row" id="trailers">
      <div class="twelve columns pagination-centered">
          <%= trailer(film) %>
        </div>
  </div>


  <div class="row">
    <div class="twelve columns pagination-centered">
      <%= advert "blinkbox" %>      
    </div>
  </div>                                              
                                
  <label class="close-reveal-modal">×</label>
</div>