<% set_meta_tags :title => "#{title_with_year(film)} - trailer" %>


<div class="row" id="film-content-trailer">
  <%= render partial:'film_poster' %>
  <div class="eight columns">
      <%= trailer film %>
  </div>
</div>