<div class="row" id="film-content-trailer">
  <%= render partial:'film_poster', locals:{film_presenter: FilmPresenter.new(current_user, film)} %>
  <div class="eight columns">
      <%= trailer film %>
  </div>
</div>