<% set_meta_tags :description => "View films categories as #{@films_page.description}" %>

<div class="row" id="filmsIndex" >
  <div class="two mobile-four columns pagination-centered">
    <div class="film-actions-vertical">
      <div class="tiled"><i class="icon-eye-open icon-3x" ></i></div>
      <div class="tiled"><i class="icon-heart icon-3x"  ></i></div>
      <div class="tiled"><i class="icon-pushpin icon-3x"  ></i></div>
    </div>
    <div class="hide-for-small panel">
      <label>
        Viewing Films
      </label>
      <h5 class="subheader" >
        <%= @films_page.description %>
      </h5>

    </div>
    <div class="panel callout radius" align="center">
      <h6>
        <span ><%= @films_page.results_page.total_results %> films</span>
      </h6>
    </div>
    <!--START MERCHANT:merchant name blinkbox from affiliatewindow.com.-->
      <a href="http://www.awin1.com/cread.php?s=346816&v=2481&q=163556&r=157428" target="_blank"><img src="http://www.awin1.com/cshow.php?s=346816&v=2481&q=163556&r=157428" border="0"></a>
    <!--END MERCHANT:merchant name blinkbox from affiliatewindow.com-->                         
  </div>
   <%= render partial: 'films/films' %>
</div>