<div class="row" id="filmsIndex" >
  <div class="two mobile-four columns pagination-centered">
    <div class="film-actions-vertical">
      <div class="tiled"><i class="icon-eye-open icon-3x" ></i></div>
      <div class="tiled"><i class="icon-heart icon-3x"  ></i></div>
      <div class="tiled"><i class="icon-pushpin icon-3x"  ></i></div>
    </div>
    <div class="hide-for-small panel">
      <label>
        Viewing Films
      </label>
      <h5 class="subheader" >
        <%= @films_page.description %>
      </h5>
    </div>
    <div class="panel callout radius" align="center">
      <h6>
        <span ><%= @films_page.results_page.total_results %> films</span>
      </h6>
    </div>
  </div>
   <%= render partial: 'films/films' %>
</div>

<script type="text/javascript">
  FL.Films.endlessScroll()
</script>