<% rand_num, index = rand(1..5), 1 %>


<% if rand_num==index %>
<!--START MERCHANT:merchant name blinkbox from affiliatewindow.com.-->
<a href="http://www.awin1.com/cread.php?s=246533&v=2481&q=118947&r=171645" lt="blinkbox advert">><img src="http://www.awin1.com/cshow.php?s=246533&v=2481&q=118947&r=171645" border="0" target=="_blank"  alt="blinkbox advert"></a>
<!--END MERCHANT:merchant name blinkbox from affiliatewindow.com-->
                                            
<% elsif rand_num==(index+=1)  %>
<!--START MERCHANT:merchant name Now TV from affiliatewindow.com.-->
<a href="http://www.awin1.com/cread.php?s=348124&v=4465&q=164186&r=171645" alt="Now TV advert"><img src="http://www.awin1.com/cshow.php?s=348124&v=4465&q=164186&r=171645" border="0" target=="_blank" alt="Now TV advert"></a>
<!--END MERCHANT:merchant name Now TV from affiliatewindow.com-->

<% elsif rand_num==(index+=1)  %>
<!--START MERCHANT:merchant name Now TV from affiliatewindow.com.-->
<a href="http://www.awin1.com/cread.php?s=451235&v=4465&q=217263&r=171645" alt="Now TV advert"><img src="http://www.awin1.com/cshow.php?s=451235&v=4465&q=217263&r=171645" border="0" target=="_blank" alt="Now TV advert"></a>
<!--END MERCHANT:merchant name Now TV from affiliatewindow.com-->
                                            
<% elsif rand_num==(index+=1)  %>
<!--START MERCHANT:merchant name Now TV from affiliatewindow.com.-->
<a href="http://www.awin1.com/cread.php?s=451197&v=4465&q=217229&r=171645" alt="Now TV advert"><img src="http://www.awin1.com/cshow.php?s=451197&v=4465&q=217229&r=171645" border="0" target=="_blank" alt="Now TV advert"></a>
<!--END MERCHANT:merchant name Now TV from affiliatewindow.com-->

<% elsif rand_num==(index+=1)  %>
<!--START MERCHANT:merchant name Zavvi from affiliatewindow.com.-->
<a href="http://www.awin1.com/cread.php?s=172303&v=2549&q=92458&r=171645" alt="Zavvi advert"><img src="http://www.awin1.com/cshow.php?s=172303&v=2549&q=92458&r=171645" border="0" target=="_blank" alt="Zavvi advert"></a>
<!--END MERCHANT:merchant name Zavvi from affiliatewindow.com-->                                  

<% end %>