<% rand_num, index = rand(1..6), 1 %>

<% if rand_num==index %>
  <!--START MERCHANT:merchant name Now TV from affiliatewindow.com.-->
  <script language="JavaScript" src="http://www.awin1.com/cawshow.php?v=4465&s=451245&q=217269&r=171645"></script>
  <noscript>
    <iframe src="http://www.awin1.com/cawshow.php?v=4465&s=451245&q=217269&r=171645&iframe=1" width="300" height="250" frameborder="0" border="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </noscript>
  <!--END MERCHANT:merchant name Now TV from affiliatewindow.com-->
<% elsif rand_num==(index+=1)  %>
  <!--START MERCHANT:merchant name Now TV from affiliatewindow.com.-->
  <script language="JavaScript" src="http://www.awin1.com/cawshow.php?v=4465&s=338130&q=159576&r=171645"></script>
  <noscript>
    <iframe src="http://www.awin1.com/cawshow.php?v=4465&s=338130&q=159576&r=171645&iframe=1" width="300" height="250" frameborder="0" border="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </noscript>
  <!--END MERCHANT:merchant name Now TV from affiliatewindow.com-->
<% elsif rand_num==(index+=1)  %>
  <!--START MERCHANT:merchant name Now TV from affiliatewindow.com.-->
  <a href="http://www.awin1.com/cread.php?s=348126&v=4465&q=164188&r=171645" alt='Now TV avert'><img src="http://www.awin1.com/cshow.php?s=348126&v=4465&q=164188&r=171645" border="0" alt='Now TV avert'></a>
  <!--END MERCHANT:merchant name Now TV from affiliatewindow.com-->
<% elsif rand_num==(index+=1)  %>
  <!--START MERCHANT:merchant name blinkbox from affiliatewindow.com.-->
  <a href="http://www.awin1.com/cread.php?s=157033&v=2481&q=91935&r=171645" target="_blank" alt="Blinkbox advert">
    <img src="http://www.awin1.com/cshow.php?s=157033&v=2481&q=91935&r=171645" border="0" alt="Blinkbox advert">
  </a>
  <!--END MERCHANT:merchant name blinkbox from affiliatewindow.com-->
<% elsif rand_num==(index+=1)  %>
  <!--START MERCHANT:merchant name blinkbox from affiliatewindow.com.-->
   <a href="http://www.awin1.com/cread.php?s=299666&v=2481&q=140999&r=171645"target="_blank" alt="Blinkbox advert">
    <img src="http://www.awin1.com/cshow.php?s=299666&v=2481&q=140999&r=171645" border="0" alt="Blinkbox advert">
  </a>
  <!--END MERCHANT:merchant name blinkbox from affiliatewindow.com-->
<% elsif rand_num==(index+=1)  %>
  <!--START MERCHANT:merchant name Now TV from affiliatewindow.com.-->
  <a href="http://www.awin1.com/cread.php?s=451229&v=4465&q=217259&r=171645" target="_blank" alt="Now TV advert">
    <img src="http://www.awin1.com/cshow.php?s=451229&v=4465&q=217259&r=171645" border="0" alt="Now TV advert">
  </a>
  <!--END MERCHANT:merchant name Now TV from affiliatewindow.com-->
<% elsif rand_num==(index+=1)  %>
  <script type="text/javascript">
  var uri = 'http://impgb.tradedoubler.com/imp?type(js)g(20473856)a(2247239)' + new String (Math.random()).substring (2, 11);
  document.write('<sc'+'ript type="text/javascript" src="'+uri+'" charset=""></sc'+'ript>');
  </script>
<% end %>