<div class="row margin-bottom">
  <div class="large-12 small-12 columns">
    <div class="inner-tabs">
      <div class="section-container auto" data-section>
        <section>
          <p class="title" data-section-title><a href="#panel1"><%= "Friends recommend (#{received.count})" %></a></p>
          <div class="content" data-section-content>
            <ol >
              <% received.each do |recommendation| %>
                <%= render partial: 'received', locals: {film: recommendation.recommendable, user: recommendation.user, recommendation: recommendation} %>
              <% end %>
            </ol>
          </div>
        </section>
        <section>
          <p class="title" data-section-title><a href="#panel2"><%= "You recommend (#{sent.count})" %></a></p>
          <div class="content" data-section-content>
            <ol >
              <% sent.each do |recommendation| %>
                <%= render partial: 'sent', locals: {film: recommendation.recommendable, user: recommendation.friend, recommendation: recommendation} %>
              <% end %>
            </ol>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>