<div id="queueListModal" class="reveal-modal" data-bind="with: ViewModel.queue">
   <div class="row" >
    <div class="twelve columns">
      <label>
        Add films to list:
      </label>
    </div>
  </div>
  <div class="row films" data-bind="foreach: selected()">
    <a class="film film-small" data-bind="attr: {href: url}, css:{'film-selected': selected}, click: select" data-no-pjax>
      <img data-bind="attr: {src: thumbnail, title: title}" class="small"/>
    </a>
  </div>
  <div class="row">
    <div class="six columns">
      <%= select_tag :list_id, options_for_select(@lists)%>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <input type="button" data-bind="click: listsUrl" data-href='<%= new_user_list_path %>' class='radius button close-reveal-modal' value="New List"/>
    </div>
  </div>
  <a class="close-reveal-modal">×</a>
</div>
