<div id="queueListModal" class="reveal-modal">
  <h2>
    Add films to list:
  </h2>
  <div class="row">
    <div class="six columns">
      <%= select_tag :list_id, options_for_select(@lists) %>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <a href='<%= new_user_list_path %>' data-bind="click: listsUrl" class='radius button close-reveal-modal' data-remote="true">New List</a>
    </div>
  </div>
  <a class="close-reveal-modal">×</a>
</div>

<script>
ko.applyBindings(viewModel.queue, document.getElementById('queueListModal'))
</script>