<div id="myModal" class="reveal-modal">
  <h2>
    Film lovers login
  </h2>
  <div class="row">
    <div class="six columns">
      <a class="radius button" href="/auth/facebook" data-no-pjax>
        <strong>Sign up with Facebook</strong>
      </a> 
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <a class="radius button alert" href="/auth/netflix">
        <strong>Sign up with Netflix</strong>
      </a> 
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <a class="radius button" href="/auth/twitter">
        <strong>Sign up with Twitter</strong>
      </a> 
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <a class="radius button success" href="/auth/google_oauth2">
        <strong>Sign up with Google</strong>
      </a> 
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <a class="radius button" href="/auth/vimeo">
        <strong>Sign up with Vimeo</strong>
      </a> 
    </div>
  </div>
  <div class="row">
     <div class="six columns">
      <strong>No good?</strong>
      <br />
      <a href="/users/sign_up">Sign up with your email address</a>
    </div>
  </div>
  <a class="close-reveal-modal">×</a>
</div>