<div id="queueController">
  <ul id="navigationMenu">
    <li>
      <%= link_to queue_path(current_user, :list), :class=> 'services', remote:true do %>
        <span>Add to list</span>
      <% end %>
    </li>
    <li>
      <a class="portfolio" href="#">
        <span>Recommend</span>
      </a>
    </li>
    <li>
      <a class="contact" href="#">
        <span>Remove</span>
      </a>
    </li>
  </ul>
</div>