<% recommendations = current_user.recommended.unwatched.visible.recent(5) %>

<div class="row padded-films">
  <div class="twelve columns">
    <h6 class="heading_divider">Your latest recommendations</h6>
  </div>    
  <div class="twelve columns centered">
    <div class=" films">
      <% 5.times.each do |index| %>
        <% if recommendations[index] %>
         <%= render partial: 'films/film', object: recommendations[index].recommendable %>
        <% else %>
          <div class="film empty">
            <div class="film-info"></div>
          </div>
        <% end %>
      <% end %>
    </div>      
  </div>
</div>