<div class="full-row green-row panels" id="panelssearch">
  <div class="row">
    <div class="large-8 large-offset-2 small-12 columns">
      <div class="large-12 small-12 columns">
        <h2>Search filmlovers...</h2>
      </div>
      <%= form_tag(search_index_path, method: :get, id: 'search') do%>
        <div class="large-6 small-12 columns">
          <label for="searchinput"></label>
          <%= text_field_tag 'q', params[:q], tabindex: 9, placeholder:"Enter your search", id: 'quick_search_header', class: "ss-input" %>
        </div>
        <div class="large-3 small-12 columns">
          <input type="submit" name="searchbutton" id="searchbutton" value="Search" tabindex="10">
        </div>
        <div class="large-3 small-12 columns">
          <a href="/users" class="button">Users</a>
        </div>
      <% end %>
    </div>
  </div>
</div>
