<div class="row">
  <div class="twelve columns">
    <!-- Navigation -->
    <!-- Header Content -->
    <div class="row">
      <div class="six columns">
        <img src="http://placehold.it/500x500&amp;text=Image" />
        <br />
      </div>
      <div class="six columns">
        <h3 class="show-for-small">
          filmlovers
        </h3>
        <hr />
        <h3 class="show-for-small"></h3>
        <div class="panel">
          <h4 class="hide-for-small">
            filmlovers
          </h4>
          <hr />
          <h4 class="hide-for-small"></h4>
          <h5 class="subheader"></h5>
          <blockquote>
            <p>
              Natalie: Do you believe in love at first sight? John: Yes I do. Saves a lot of time. <cite>The Stickup</cite>
            </p>
          </blockquote>
        </div>
        <div class="row">
          <div class="six mobile-two columns">
            <div class="panel">
              <h5>
                Header
              </h5>
              <h6 class="subheader">
                Praesent placerat dui tincidunt elit suscipit sed.
              </h6><a href="#" class="small button">BUTTON TIME!</a>
            </div>
          </div>
          <div class="six mobile-two columns">
            <div class="panel">
              <h5>
                Header
              </h5>
              <h6 class="subheader">
                Praesent placerat dui tincidunt elit suscipit sed.
              </h6><a href="#" class="small button">BUTTON TIME!</a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Header Content -->
    <!-- Search Bar -->
    <div class="row">
      <div class="twelve columns">
        <div class="radius panel">
          <form action="/search/films" method="get" name="search">
            <div class="row collapse">
              <div class="ten mobile-three columns">
                <input type="text" name="query" />
              </div>
              <div class="two mobile-one columns">
                <a href="#" class="postfix button expand film-search">Search</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div><!-- End Search Bar -->
    <!-- Thumbnails -->
    <div class="row">
      <div class="twelve show-for-small columns">
        <hr />
      </div>
      <div class="three mobile-two columns">
        <%= link_to genre_path(28) do %><img src="http://placehold.it/500x500&amp;text=Action" /> <% end %>
        <div class="panel">
          <p>
            Hot-paced action films!
          </p>
        </div>
      </div>
      <div class="three mobile-two columns">
        <%= link_to genre_path(35) do %><img src="http://placehold.it/500x500&amp;text=Comedy" /> <% end %>
        <div class="panel">
          <p>
            Split your sides
          </p>
        </div>
      </div>
      <div class="three mobile-two columns">
        <%= link_to genre_path(878) do %><img src="http://placehold.it/500x500&amp;text=Sci-fi" /> <% end %>
        <div class="panel">
          <p>
            Films that beep
          </p>
        </div>
      </div>
      <div class="three mobile-two columns">
        <%= link_to genre_path(18) do %><img src="http://placehold.it/500x500&amp;text=Drama" /> <% end %>
        <div class="panel">
          <p>
            For every moment
          </p>
        </div>
      </div>
    </div><!-- End Thumbnails -->
    <!-- Footer -->
    <footer class="row">
      <div class="twelve columns">
        <hr />
        <div class="row">
          <div class="six columns">
            <p>
              © Copyright no one at all. Go to town.
            </p>
          </div>
          <div class="six columns">
            <ul class="link-list right">
              <li>
                <a href="#">Link 1</a>
              </li>
              <li>
                <a href="#">Link 2</a>
              </li>
              <li>
                <a href="#">Link 3</a>
              </li>
              <li>
                <a href="#">Link 4</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer><!-- End Footer -->
  </div>
</div>