
<ul class="film-actions">
    <li><i class="icon-eye-open"></i>
    </li>
    <li><i class="icon-heart"></i>
    </li>
    <li><i class="icon-heart-empty"></i>
    </li>
    <li><i class="icon-book"></i></li>
    <li><i class="icon-tasks" alt="ss"></i>
    </li>
</ul>