<h2 class="contentheading">About</h2>



<p>filmlovers is a site for those who love film and wish to share that love with friends. </p>
 
<p>Oftentimes we find that we listen closely to friends who have shown a common interest and liking of films, rather then spurious comments and reviews on a film from strangers. filmlovers aim is to facilitate the sharing of the users films they love by allowing users to create a social film network whereby they can readily create recommendation lists for friends or see how they compare to others with regards to films they have seen and may or may not have loved. </p>
 
<p>This comparison between friends, allows filmlovers to provide a comparison ranking and determine which friends share the greatest love of film. From there, filmlovers can make predictive recommendations about films the user may like which they have to watch.</p>
 
<p>And it is filmlovers goal, for its users to discover new films. Even if its only one new film they discover of interest then we consider this site to be worthwhile. Of course, the more films discovered the bigger the love! And for those films discovered, we hope the love is shared through lists and recommendations to friends and other social platforms</p>  
 
<p>There's big plans ahead with Netflix integration, and other social platforms and film resources including blogs and feeds. We hope to one day have a site not only where you can watch, share and discover films, but research, learn and immerse yourself in film. </p>
 
<p>This site was developed for film lovers, so please help anyway you can to make it be what you want! Play with it, use it, enjoy it, hate it, your choice, but if you have an opinion we would love to hear it! Contact us via our feedback panel or through one of our social sites. </p>
 
<p>We wish you much merriment and hope you discover and share the films you love. </p>
 
<p>filmlovers</p>
 
 