<div class="large-12 small-12 columns text-center">
  <a href="http://www.awin1.com/cread.php?s=246533&v=2481&q=118947&r=171645" target="_blank" alt="blinkbox advert">
    <img src="http://www.awin1.com/cshow.php?s=246533&v=2481&q=118947&r=171645" border="0" alt="blinkbox promotion">
  </a>   
</div>

