@charset "UTF-8";
/* CSS Document */

/* IE8 fixes */

.lt-ie9 .row { width: 940px; max-width: 100%; min-width: 768px; margin: 0 auto; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row.large-collapse .column,
.lt-ie9 .row.large-collapse .columns { padding: 0; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row .row.large-collapse { margin: 0; }
 
.lt-ie9 .column, .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.lt-ie9 .column.large-centered, .columns.large-centered { float: none; margin: 0 auto; }
 
.lt-ie9 [class*="column"] + [class*="column"]:last-child { float: right; }
.lt-ie9 [class*="column"] + [class*="column"].end { float: left; }
 
.lt-ie9 .large-1,
.lt-ie9 .row .large-1 { width: 8.33333%; }
 
.lt-ie9 .large-2,
.lt-ie9 .row .large-2 { width: 16.66667%; }
 
.lt-ie9 .large-3,
.lt-ie9 .row .large-3 { width: 25%; }
 
.lt-ie9 .large-4,
.lt-ie9 .row .large-4 { width: 33.33333%; }
 
.lt-ie9 .large-5,
.lt-ie9 .row .large-5 { width: 41.66667%; }
 
.lt-ie9 .large-6,
.lt-ie9 .row .large-6 { width: 50%; }
 
.lt-ie9 .large-7,
.lt-ie9 .row .large-7 { width: 58.33333%; }
 
.lt-ie9 .large-8,
.lt-ie9 .row .large-8 { width: 66.66667%; }
 
.lt-ie9 .large-9,
.lt-ie9 .row .large-9 { width: 75%; }
 
.lt-ie9 .large-10,
.lt-ie9 .row .large-10 { width: 83.33333%; }
 
.lt-ie9 .large-11,
.lt-ie9 .row .large-11 { width: 91.66667%; }
 
.lt-ie9 .large-12,
.lt-ie9 .row .large-12 { width: 100%; }
 
.lt-ie9 .row .large-offset-1 { margin-left: 8.33333%; }
.lt-ie9 .row .large-offset-2 { margin-left: 16.66667%; }
.lt-ie9 .row .large-offset-3 { margin-left: 25%; }
.lt-ie9 .row .large-offset-4 { margin-left: 33.33333%; }
.lt-ie9 .row .large-offset-5 { margin-left: 41.66667%; }
.lt-ie9 .row .large-offset-6 { margin-left: 50%; }
.lt-ie9 .row .large-offset-7 { margin-left: 58.33333%; }
.lt-ie9 .row .large-offset-8 { margin-left: 66.66667%; }
.lt-ie9 .row .large-offset-9 { margin-left: 75%; }
.lt-ie9 .row .large-offset-10 { margin-left: 83.33333%; }
 
.lt-ie9 .pull-2 { right: 16.66667%; }
.lt-ie9 .pull-3 { right: 25%; }
.lt-ie9 .pull-4 { right: 33.33333%; }
.lt-ie9 .pull-5 { right: 41.66667%; }
.lt-ie9 .pull-6 { right: 50%; }
.lt-ie9 .pull-7 { right: 58.33333%; }
.lt-ie9 .pull-8 { right: 66.66667%; }
.lt-ie9 .pull-9 { right: 75%; }
.lt-ie9 .pull-10 { right: 83.33333%; }
 
.lt-ie9 .push-2 { left: 16.66667%; }
.lt-ie9 .push-3 { left: 25%; }
.lt-ie9 .push-4 { left: 33.33333%; }
.lt-ie9 .push-5 { left: 41.66667%; }
.lt-ie9 .push-6 { left: 50%; }
.lt-ie9 .push-7 { left: 58.33333%; }
.lt-ie9 .push-8 { left: 66.66667%; }
.lt-ie9 .push-9 { left: 75%; }
.lt-ie9 .push-10 { left: 83.33333%; }
 
/* Nicolas Gallagher's micro clearfix */
.lt-ie9 .row { *zoom: 1; }
.lt-ie9 .row:before, .row:after { content: " "; display: table; }
.lt-ie9 .row:after { clear: both; }

.lt-ie9 .large-block-grid-5 {
    list-style: none;
}

.lt-ie9 .large-block-grid-5 li {
    float: left;
  display: inline-block;
  position: relative;
    width: 20% !important;
  max-width: 20% !important;
    padding: 0px 0px 10px;
}

.lt-ie9 .large-block-grid-5 li:first-child + li + li + li + li {
    float: right;
}

.lt-ie9 .main-navigation .main-nav li a {
  font-size: 0.8em;
}

/* fonts */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,300,700italic);

/* generic styling */

body {
  font-family: 'Open Sans', "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: url(site-basics/bg-tile.gif) repeat top left #efefeb;
  color: #141414;
  line-height: 1.5em;
  font-size: 1em;
}

a img, img {
  border: none;
}

ul {
  list-style-position: inside;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #b6202c;
  font-weight: 300;
  margin: 0px 0px 0.4em 0px;
  padding: 0;
  line-height: 1.2em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.6em;
  color: #141414;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

p {
  margin: 0px 0px 20px 0px;
  font-weight: 300;
}

a {
  color: #b6202c;
  text-decoration: none;
  outline: none;
}

a:hover, a:focus, a:active, a.visited {
  color: #20b6a8;
  text-decoration: none;
}

small {
  font-size: 0.8em;
}

hr {
  float: left;
  position: relative;
  display: inline-block;
  width: 60%;
  margin: 10px 20% 30px 20%;
  background-color: transparent;
  background-image: url(site-basics/hr-bg.png);
  background-image: url(site-basics/hr-bg.svg);
  background-position: center 16px;
  background-repeat: no-repeat;
  height: 25px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-top: none;
  border-left: none;
  border-right: none;
}

p.create {
  font-size: 0.8em;
  font-weight: 300;
  font-style: italic;
  line-height: 1.4em;
  margin-top: 0.4em;
  padding-left: 25px;
  width: 65%;
  background: url(site-basics/create-arrow.gif) no-repeat left center;
}

@media only screen and (max-width: 768px) {
  
  p.create {
    margin-top: 0em;
    padding-left: 0px;
    width: 100%;
    background: none;
    text-align: center !important;
  }
  
}

p.forgotten {
  margin-top: 0.5em;
}

/* Additional row structure */

.full-row {
  width: 100%;
  position: relative;
  float: left;
}

.margin-bottom {
  margin-bottom: 30px;
}

.green-row {
  background-color: #20b6a8;
  padding: 2.5em 0;
}

.green-row h2, .green-row p {
  color: #fff;
}

.green-row a:hover {
  color: #fff;
}

.green-row ul.features, .green-row ul.features li {
  display: inine-block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  font-weight: 300;
}

.green-row ul.features li {
  margin-bottom: 0.8em;
  padding-bottom: 0.8em;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.white-row {
  background-color: #fff;
  padding: 30px 0px;
  box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
}

.banner {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.banner img {
  float: none;
  background-color: #fff;
  padding: 3px;
  box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
}

/* Mastehad */

.masthead {
  position: relative;
  background-color: #fff;
  box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  z-index: 600;
  padding:  0.2em 0;
}

.masthead ul.top-nav {
  margin: 3.4em 0px;
  padding: 0;
  background-color: transparent;
  width: 100%;
  list-style: none;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  
  .masthead ul.top-nav {
    margin: 1em 0px;
  }
  
}

.masthead ul.top-nav li {
  display: inline-block;
  float: left;
  margin: 0px 5%;
  background-color: transparent;
  width: 40%;
  list-style: none;
}

.masthead ul.top-nav li a {
  display: inline-block;
  float: left;
  width: 100%;
  background: #f9f9f6;
  color: #b6212d;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  font-size: 0.8em;
    font-weight: 400;
    padding: 0.6em;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans', "Helvetica Neue", Arial, Helvetica, sans-serif;
  transition: background-color 300ms ease-out 0s;
  -moz-transition: background-color 300ms ease-out 0s;
  -webkit-transition: background-color 300ms ease-out 0s;
  -o-transition: background-color 300ms ease-out 0s;
  -ms-transition: background-color 300ms ease-out 0s;
}

.masthead ul.top-nav li.sign-up a {
  background-color: #b6202c;
  color: #fff;
}

.masthead ul.top-nav li a:hover {
  background-color: #20b6a8;
  color: #fff;
  transition: background-color 300ms ease-out 0s;
  -moz-transition: background-color 300ms ease-out 0s;
  -webkit-transition: background-color 300ms ease-out 0s;
  -o-transition: background-color 300ms ease-out 0s;
  -ms-transition: background-color 300ms ease-out 0s;
}

#panelssignup, #panelssignin, #panelssearch, #panelsfilms, #panelslowersignup {
  display: none;
}

/* Sign up elements */

.signup-options {
  display: inline-block;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.signup-options li {
  display: inline-block;
  float: left;
  width: 45%;
  margin: 0.4em 5% 0.4em 0px;
}

.signup-options li.standard {
  width: 95%;
}

.signup-options li a {
  display: inline-block;
  float: left;
  width: 100%;
  background: #f9f9f6;
  color: #b6212d;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  font-size: 0.8em;
    font-weight: 400;
    padding: 0.6em 1.2em;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Open Sans', "Helvetica Neue", Arial, Helvetica, sans-serif;
  transition: background-color 300ms ease-out 0s;
  -moz-transition: background-color 300ms ease-out 0s;
  -webkit-transition: background-color 300ms ease-out 0s;
  -o-transition: background-color 300ms ease-out 0s;
  -ms-transition: background-color 300ms ease-out 0s;
}

.signup-options li.standard a {
  text-align: center;
}

.signup-options li a img {
  margin: 0px 0.4em 0px 0px;
  padding: 0;
}

.signup-options li a:hover {
  background-color: #1da497;
  color: #fff;
  transition: background-color 300ms ease-out 0s;
  -moz-transition: background-color 300ms ease-out 0s;
  -webkit-transition: background-color 300ms ease-out 0s;
  -o-transition: background-color 300ms ease-out 0s;
  -ms-transition: background-color 300ms ease-out 0s;
}

/* Homepage hero image */

.hero {
  display: inline-block;
  float: left;
  margin-top: -8px;
  background-image: url(content/hero-image-pacific-rim.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  z-index: 500;
  padding: 4em 0px;
  box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
}

.pod {
  background-color: #fff;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  padding: 1.6em 2em 0.4em 2em;
}

.pod.actions {
  background-color: #B6212D;
  color: #68212D;
  margin-left: -70px;
  margin-top: -90px;
}

@media only screen and (max-width: 768px) {
  
  .pod.actions {
    margin-left: 0px;
    margin-top: 0px;
  }
  
}

.pod.actions p {
  margin-bottom: 0;
  padding-bottom: 0;
}

.pod.actions .button {
  background-color: #F9F9F6;
  color: #B7242E;
}

.pod.actions .button:hover, .pod.actions .button:focus {
  background-color: #20B6A8;
  color: #fff;
}

.pod.actions p.create {
  width: 100%;
  color: #fff;
}

/* Homepage figures */

p.lovers, p.watched, p.loved, p.owned {
  padding: 0px 0px 0px 35%;
  font-size: 1.1em;
  text-align: left;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  -ms-background-size: contain;
  margin: 0 auto;
  width: 100%;
}

.lovers span, .watched span, .loved span, .owned span {
  color: #b6202c;
  font-size: 3em;
  line-height: 1em;
  font-weight: 300;
  display: block;
  width: 100%;
  text-align: left;
}

.lovers {
  background-image: url(site-basics/lovers-icon.svg);
}

.watched {
  background-image: url(site-basics/watched-icon.svg);
}

.loved {
  background-image: url(site-basics/loved-icon.svg);
}

.owned {
  background-image: url(site-basics/owned-icon.svg);
}

@media only screen and (max-width: 1100px) {

  p.lovers, p.watched, p.loved, p.owned {
    background-position: top center;
    background-size: auto 60%;
    -moz-background-size: auto 60%;
    -webkit-background-size: auto 60%;
    -o-background-size: auto 60%;
    -ms-background-size: auto 60%;
    padding: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
  }
  
  p.lovers span, p.watched span, p.loved span, p.owned span {
    padding: 2em 0 0 0;
    text-align: center;
  }
  
}

/* Tabs */

.tabs {
  background-color: #ffffff;
  border-top: 70px solid #e1e1e1;
  box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
}

.tabs .section-container {
  margin-top: -70px;
}

.tabs .section-container p.title {
  width: 33.33%;
  border-right: 1px solid #fff;
  border-left: none;
  border-top: none;
  border-bottom: none;
  background-color: transparent;
}

.inner-tabs {
  display: inline-block;
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
}

.inner-tabs .section-container p.title {
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: none;
  background-color: transparent;
}

.tabs .section-container p.title a {
  height: 70px;
  line-height: 70px;
  vertical-align: middle;
  font-size: 1.8em;
  font-weight: 300;
  text-align: center;
  padding: 0;
}

.inner-tabs .section-container p.title a {
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  font-size: 1.4em;
  font-weight: 300;
  text-align: center;
  padding: 0 2em;
}

.inner-tabs .poster img, .reveal-modal .poster img {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}

.inner-tabs .flex-video {
  margin-bottom: 0px;
}

@media only screen and (max-width: 768px) {
  
  .tabs {
    border-top: 0px;
  }
  
  .tabs .section-container {
    margin-top: 0px;
  }
  
  .tabs .section-container p.title {
    width: 100%;
  }
  
  .tabs .section-container p.title a {
    text-align: left;
    padding-left: 0.8em;
  }
  
}

.section-container.auto > section:last-child .title, .section-container.auto > .section:last-child .title {
    border-right: none;
}

.tabs .section-container p.title a:hover, .section-container.auto > section.active > .title a, .section-container.auto > .section.active > .title a {
   border: none;
   color: #b6212d;
}

.section-container.auto > section .content, .section-container.auto > .section .content {
    border: none;
}

.section-container, .section-container.auto {
    margin-bottom: 0;
}

.section-container > section.active > .title, .section-container > .section.active > .title, .section-container.auto > section.active > .title, .section-container.auto > .section.active > .title {
  background-color: #fff; 
}

.section-container, .section-container.auto {
  border: none;
}

.film-tabs {
  margin-top: 40px;
}

.film-tabs li {
  font-size: 1.1em;
  position: relative;
}

.film-tabs a {
  display: block;
  width: 100%;
}

.film-tabs li a img {
  background-color: #f9f9f6;
  border: 1px solid #e8e8e6;
  padding: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  margin-bottom: 10px;
  transition: all 300ms ease-out 0s;
  -moz-transition: all 300ms ease-out 0s;
  -webkit-transition: all 300ms ease-out 0s;
  -o-transition: all 300ms ease-out 0s;
  -ms-transition: all 300ms ease-out 0s;
}

.film-tabs li a:hover img {
  background-color: #b6202c;
  border: 1px solid #b6202c;
  transition: all 300ms ease-out 0s;
  -moz-transition: all 300ms ease-out 0s;
  -webkit-transition: all 300ms ease-out 0s;
  -o-transition: all 300ms ease-out 0s;
  -ms-transition: all 300ms ease-out 0s;
}

.film-tabs li span {
  position: absolute;
  left: -5px;
  top: -20px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  background-color: #20b6a8;
  color: #fff;
  font-weight: 700;
  font-size: 1.6em;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
}

/* Orbit slider */

.orbit-container {
    background: none;
}

.orbit-container .orbit-slides-container {
    height: 350px !important;
}

.orbit-prev, .orbit-next, .orbit-slide-number, .orbit-timer {
  display: none;
}

.orbit-slides-container li {
  text-align: center;
}

.orbit-slides-container li img {
  float: none;
  margin: 0 auto;
}

.orbit-container .orbit-slides-container > * .orbit-caption {
    background-color: transparent;
    bottom: -4em;
    color: #fff;
    font-size: 1em;
    padding: 0;
}

.orbit-bullets {
    margin: 10px 0px;
  top: 0px;
  padding: 0;
}

.orbit-bullets li {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #B7242E;
  cursor: pointer;
}

.orbit-bullets li.active {
    background: none repeat scroll 0 0 #B7242E;
  border: 2px solid #B7242E;
}

.slider-nav {
  display: inline-block;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-nav li {
  display: inline-block;
  width: 25%;
  list-style: none;
  float: left;
  text-align: center;
  margin: 0;
  padding: 1em;
}

@media only screen and (max-width: 768px) {

  .slider-nav li {
    width: 50%;
  }
  
}

.slider-nav li a {
  color: #0d7d73;
  transition: all 300ms ease-out 0s;
  -moz-transition: all 300ms ease-out 0s;
  -webkit-transition: all 300ms ease-out 0s;
  -o-transition: all 300ms ease-out 0s;
  -ms-transition: all 300ms ease-out 0s;
}

.slider-nav li a img {
  display: block;
  margin: 0 auto 10px auto;
  background-color: #0d7d73;
  padding: 20px;
  border-radius: 45px;
  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  -o-border-radius: 45px;
  -ms-border-radius: 45px;
  transition: all 300ms ease-out 0s;
  -moz-transition: all 300ms ease-out 0s;
  -webkit-transition: all 300ms ease-out 0s;
  -o-transition: all 300ms ease-out 0s;
  -ms-transition: all 300ms ease-out 0s;
}

.slider-nav li a:hover {
  color: #B7242E;
  transition: all 300ms ease-out 0s;
  -moz-transition: all 300ms ease-out 0s;
  -webkit-transition: all 300ms ease-out 0s;
  -o-transition: all 300ms ease-out 0s;
  -ms-transition: all 300ms ease-out 0s;
}

.slider-nav li a:hover img {
  background-color: #B7242E;
  transition: all 300ms ease-out 0s;
  -moz-transition: all 300ms ease-out 0s;
  -webkit-transition: all 300ms ease-out 0s;
  -o-transition: all 300ms ease-out 0s;
  -ms-transition: all 300ms ease-out 0s;
}

/* Internal pages */

.inner-hero {
  display: inline-block;
  position: relative;
  float: left;
  background-color: #b6212d;
  height: 380px;
  overflow: hidden;
  box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
}

@media only screen and (max-width: 768px) {
  
  .inner-hero {
    height: auto;
  }
  
}

.inner-hero .left-fade {
  position: absolute;
  left: 15px;
  top: 0px;
  width: 200px;
  height:100%;
  background-color: rgba(255,255,255,0);
  background-image: -webkit-linear-gradient(left, #b6212d, rgba(182,33,45,0));
  background-image: -moz-linear-gradient(left, #b6212d, rgba(182,33,45,0));
  background-image: -o-linear-gradient(left, #b6212d, rgba(182,33,45,0));
  background-image: -ms-linear-gradient(left, #b6212d, rgba(182,33,45,0));
  background-image: linear-gradient(to right, #b6212d, rgba(182,33,45,0));
}

.inner-hero .right-fade {
  position: absolute;
  right: 15px;
  top: 0px;
  width: 200px;
  height: 100%;
  background-color: rgba(255,255,255,0);
  background-image: -webkit-linear-gradient(right, #b6212d, rgba(182,33,45,0));
  background-image: -moz-linear-gradient(right, #b6212d, rgba(182,33,45,0));
  background-image: -o-linear-gradient(right, #b6212d, rgba(182,33,45,0));
  background-image: -ms-linear-gradient(right, #b6212d, rgba(182,33,45,0));
  background-image: linear-gradient(to left, #b6212d, rgba(182,33,45,0));
}

/* Film info page */

.synopsis {
  margin-top: -150px;
  z-index: 300;
}

.shop-online {
  padding: 0.6em 1em;
  margin: 0;
  list-style: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #f9f9f6;
  -webkit-box-shadow: 0 3px rgba(1,1,1,.1);
  -moz-box-shadow: 0 3px rgba(1,1,1,.1);
  box-shadow: 0 3px rgba(1,1,1,.1);
  text-align: center;
}

.shop-online li {
  display: inline-block;
  list-style: none;
  float: none;
  margin: 0 0.4em;
  padding: 0;
}

.inner-tabs .poster .shop-online li a img {
  margin: 0;
  padding: 0;
}

ul.button-list {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.button-list li {
  display: inline-block;
  float: left;
  position: relative;
  margin: 0.3em;
  padding: 0.6em 1em;
  list-style: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #f9f9f6;
  -webkit-box-shadow: 0 3px rgba(1,1,1,.1);
  -moz-box-shadow: 0 3px rgba(1,1,1,.1);
  box-shadow: 0 3px rgba(1,1,1,.1);
}

ul.button-list li.watched a {
  padding-left: 36px;
  background-image: url(site-basics/watched-icon-red.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 26px auto;
  -moz-background-size: 26px auto;
  -webkit-background-size: 26px auto;
  -o-background-size: 26px auto;
  -ms-background-size: 26px auto;
}

ul.button-list li.loved a {
  padding-left: 36px;
  background-image: url(site-basics/loved-icon-red.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 26px auto;
  -moz-background-size: 26px auto;
  -webkit-background-size: 26px auto;
  -o-background-size: 26px auto;
  -ms-background-size: 26px auto;
}

ul.button-list li.owned a {
  padding-left: 36px;
  background-image: url(site-basics/own-icon-red.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 26px auto;
  -moz-background-size: 26px auto;
  -webkit-background-size: 26px auto;
  -o-background-size: 26px auto;
  -ms-background-size: 26px auto;
}

.actions ul {
  display: inline-block;
  position: relative;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.actions ul li {
  display: inline-block;
  float: left;
  position: relative;
  width: 18%;
  margin: 0px 1%;
  list-style: none;
}

.actions ul li a {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #68212d;
  font-size: 0.7em;
  padding-top: 60px;
  background-size: auto 50px;
  -moz-background-size: auto 50px;
  -webkit-background-size: auto 50px;
  -o-background-size: auto 50px;
  -ms-background-size: auto 50px;
  background-repeat: no-repeat;
  background-position: top center;
}

.actions ul li.watched a {
  background-image: url(site-basics/watched-icon-red.svg);
}

.actions ul li.loved a {
  background-image: url(site-basics/loved-icon-red.svg);
}

.actions ul li.owned a {
  background-image: url(site-basics/own-icon-red.svg);
}

.actions ul li.add a {
  background-image: url(site-basics/list-icon-red.svg);
}

.actions ul li.share a {
  background-image: url(site-basics/share-icon-red.svg);
}

.actions ul li.complete a {
  color: #fff;
}

.actions ul li a:hover {
  opacity: 0.7;
}

.actions ul li.complete.watched a {
  background-image: url(site-basics/watched-icon-white.svg);
}

.actions ul li.complete.loved a {
  background-image: url(site-basics/loved-icon-white.svg);
}

.actions ul li.complete.owned a {
  background-image: url(site-basics/own-icon-white.svg);
}

.actions ul li.complete.add a {
  background-image: url(site-basics/list-icon-white.svg);
}

.actions ul li.complete.share a {
  background-image: url(site-basics/share-icon-white.svg);
}

/* Film list page */

.page-title {
  background-color: #b6212d;
  padding: 1.6em 0px 1.4em 0px;
  box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
}

.page-title h1 {
  color: #fff;
  font-size: 1.4em;
}

form#filter {
  margin: 0;
}

.filter {
  background-color: #fff;
  padding: 1.6em 0px 1.4em 0px;
  box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
}

.filter select {
  background-color: #ececec;
  margin: 0;
}

.filter p {
  margin: 0;
  padding: 0.4em 0px 0px 0px;
}

.flip-container {
  perspective: 1000;
  display: inline-block;
  position: relative;
  float: left;
  width: 100%;
  border: 1px solid #d2d2d2;
  background-color: #f9f9f6;
  padding: 2px;
  margin: 0px 0px 10px 0px;
  width: 100%;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  overflow: hidden;
  font-size: 0.9em;
}

.flip-container.actioned {
  opacity: 0.5;
}

.flip-container {
  text-align: center;
  overflow: hidden;
}

.lt-ie9 .flip-container {
  height: auto;
}

.flip-container > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0px;
  -webkit-transition:0.5s ease-in-out;
  -moz-transition:0.5s ease-in-out;
  transition:0.5s ease-in-out;
}

.lt-ie9 .flip-container > div {
  position: relative;
  float: left;
  display: inline-block;
  height: auto;
}

.flip-container > div.lower {
  -moz-backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  -moz-transform:perspective(800px) rotateY(180deg);
  -webkit-transform:perspective(800px) rotateY(180deg);
  transform:perspective(800px) rotateY(180deg);
  background-color: #f9f6f3;
  padding: 0.6em;
  height: 100%;
}

.flip-container > div.lower ul, .flip-container > div.lower ul li {
  display: inline-block;
  width: 100%;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  list-style: none;
  text-align: left;
}

.flip-container > div.lower ul {
  padding-left: 5%;
}

.flip-container > div.lower ul li {
  display: inline-block;
  position: relative;
  height: 40px;
  background-image: none;
}

.flip-container > div.lower ul li a {
  display: inline-block;
  position: relative;
  color: #68212d;
  font-size: 0.8em;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  padding: 0px 0px 0px 50px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}

.flip-container > div.lower ul li.watched a {
  background-image: url(site-basics/watched-icon-red.svg);
}

.flip-container > div.lower ul li.loved a {
  background-image: url(site-basics/loved-icon-red.svg);
}

.flip-container > div.lower ul li.owned a {
  background-image: url(site-basics/own-icon-red.svg);
}

.flip-container > div.lower ul li.complete a {
  color: #fff;
}

.flip-container > div.lower ul li a:hover {
  opacity: 0.7;
}

.flip-container > div.lower ul li.complete.watched a {
  background-image: url(site-basics/watched-icon-white.svg);
}

.flip-container > div.lower ul li.complete.loved a {
  background-image: url(site-basics/loved-icon-white.svg);
}

.flip-container > div.lower ul li.complete.owned a {
  background-image: url(site-basics/own-icon-white.svg);
}

.flip-container > div.lower .button {
  font-size: 0.8em;
  background-color: #f9f9f6;
  color: #b6212d;
}

.flip-container > div.lower .button:hover, .flip-container > div.lower .button:focus {
  background-color: #20B6A8;
  color: #fff;
}

.lt-ie9 .flip-container > div.lower {
  float: right;
}

.flip-container > div.upper {
  -moz-backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  -moz-transform:perspective(800px) rotateY(0deg);
  -webkit-transform:perspective(800px) rotateY(0deg);
  transform:perspective(800px) rotateY(0deg);
  position: relative;
}

.lt-ie9 .flip-container > div.upper {
  float: left;
  padding: 0;
}

.flip-container:hover > div.lower {
  -moz-transform:perspective(800px) rotateY(0);
  -webkit-transform:perspective(800px) rotateY(0);
  transform:perspective(800px) rotateY(0);
  background-color: #B6212D;
  color: #fff;
}

.flip-container:hover > div.upper {
  -webkit-transform:perspective(800px) rotateY(-179.9deg);
  -moz-transform:perspective(800px) rotateY(-179.9deg);
  transform:perspective(800px) rotateY(-179.9deg);
}

@media only screen and (max-width: 768px) {
  
  .flip-container > div img {
    width: 100%;
  }

}

ul.user-rankings {
  display: inline-block;
  position: relative;
  width: 100%;
  list-style: none;
  margin: 0px 0px 30px 0px;
  padding: 0;
}

ul.user-rankings li {
  display: inline-block;
  position: relative;
  float: left;
  width: 33.3%;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.user-rankings li a {
  display: inline-block;
  position: relative;
  width: 100%;
  list-style: none;
  text-align: center;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  font-size: 0.8em;
  padding: 30px 0px 0px 0px;
}

ul.user-rankings li.watched a {
  background-image: url(site-basics/watched-icon.svg);
}

ul.user-rankings li.loved a {
  background-image: url(site-basics/loved-icon.svg);
}

ul.user-rankings li.owned a {
  background-image: url(site-basics/owned-icon.svg);
}

/* Forms & buttons */

form {
  margin-top: 1em;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
    background-color: rgba(255,255,255,0.7);
    border: 2px solid rgba(255,255,255,0.7);
    box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
    font-size: 0.9em;
  font-weight: 300;
    height: auto;
    margin: 0 0 1em;
    padding: 0.5em;
    width: 100%;
  color: #141414;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus, select:focus {
  border-color: #1DA497;
}

.error input, input.error, .error textarea, textarea.error {
  border-color: #B7242E;
}

.error input:focus, input.error:focus, .error textarea:focus, textarea.error:focus {
  border-color: #B7242E;
}

button, .button, input[type="button"], input[type="submit"] {
  background-color: #B7242E;
  color: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
  font-size: 1.1em;
  font-weight: 400;
  padding: 0.6em 2.5em;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans', "Helvetica Neue", Arial, Helvetica, sans-serif;
  border: none;
  line-height: normal;
  transition: background-color 300ms ease-out 0s;
  -moz-transition: background-color 300ms ease-out 0s;
  -webkit-transition: background-color 300ms ease-out 0s;
  -o-transition: background-color 300ms ease-out 0s;
  -ms-transition: background-color 300ms ease-out 0s;
  cursor: pointer;
}

button:hover, .button:hover, input[type="button"]:hover, input[type="submit"]:hover {
  background-color: #1DA497;
  transition: background-color 300ms ease-out 0s;
  -moz-transition: background-color 300ms ease-out 0s;
  -webkit-transition: background-color 300ms ease-out 0s;
  -o-transition: background-color 300ms ease-out 0s;
  -ms-transition: background-color 300ms ease-out 0s;
}

@media only screen and (max-width: 768px) {
  
  button, .button, input[type="button"], input[type="submit"] {
    width: 100%;
    text-align: center;
  }
  
}

.onoffswitch {
    position: relative; width: 75px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
  
.onoffswitch-checkbox {
    display: none;
}
  
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 5px;
}
  
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
  
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 34px; padding: 0; line-height: 34px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
  
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #2FB5A8; color: #FFFFFF;
}
  
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #ECECEC; color: #141414;
    text-align: right;
}
  
.onoffswitch-switch {
    width: 24px;
  margin: 6px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF; border-radius: 5px;
    position: absolute; top: 0; bottom: 0; right: 38px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
  
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
  
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/* Footer */

.footer {
  font-size: 0.8em;
}

.social, .footer ul {
  display: inline-block;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social li, .footer ul li {
  display: inline-block;
  float: none;
  list-style: none;
  margin: 0px 5%;
}

.social li a, .footer ul li a {
  color: #141414;
}

.social li a:hover, .footer ul li a:hover {
  color: #B7242E;
}

.social li a {
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  display: inline-block;
  background-size: contain;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  -ms-background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.social li.facebook a {
  background-image: url(site-basics/facebook-icon.png);
  background-image: url(site-basics/facebook-icon.svg);
}

.social li.twitter a {
  background-image: url(site-basics/twitter-icon.png);
  background-image: url(site-basics/twitter-icon.svg);
}

.social li.google a {
  background-image: url(site-basics/google-plus-icon.png);
  background-image: url(site-basics/google-plus-icon.svg);
}

.reveal-modal-bg {
  z-index: 999;
}

.reveal-modal {
  z-index: 1000;
  border: none;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
}