
$watchedColor:       #379437;
$lovedColor:         #ff3333;
$unlovedColor:       #ff3333;
$queuedColor:        #861949;
$ownedColor:         #4387BD;
$actionedHover:      #bbb;

// #featured img { display: none; }
// #featured.orbit img { display: block; }

.film-title{
  font-style: italic;
}

ul.credits{
  height:400px;
  overflow-x: hidden;
  overflow-y: scroll;
  span{
    font-size: 10pt;
  }
}

.films{
  height:auto;
  // margin:1px;
  width:auto;
  // padding:10px 0px;
  // float:left;

  .film
  {
    margin: 1px 3px;
    float:left;
    width: 188px;
    // border:  solid 4px transparent;
    border-radius: 5px;
    position: relative;
    &.watched{
      // border-radius: 7px;
      // border-color:   $watchedColor;
    }
    // &:hover{
    //   // border-color: #9CD6EC;
    // }     

    &:hover .film-title, 
    .film-info{
      height: 231px;
      &:hover + .film-director{
        opacity: 1;
      }
      h4{
        font-size:10pt;
        // color: white;
        padding-left:8px;
        margin-bottom:2px;
      }
      p{
        // color: #ddd;
        font-style: italic;
        margin: 0px;
        padding-left:8px;
      }
      a{
        // color:white;
      }

      img{
        height:100%;
        width:154px;
        border-radius: 0px 5px 0px 0px;
        // border: 4px solid transparent;
      }
      .film-stats{
        width: 34px;
        color: white;
        background-color: #1D1C1C;
        float: left;
        height: 100%;
        text-align: center;
        border: solid 2px #4E4848;
        border-right: none;
        border-bottom: none;
        border-collapse: collapse;
        border-radius: 5px 0px 0px 0px;
        label{
          padding-top: 15px;
          cursor: default;
        }
        i{
          font-size: 1.4em;
          opacity: 0.7;
          border-bottom: 1px solid gray;
          padding-bottom: 10px;
          &[data-action]:hover{
            opacity: 1
          }
          &:active{
            -webkit-transform: scale(2,4); /* Safari and Chrome */
          }

        }
      }
    }
    .film-heading-border{
      height: 20px;
      text-align: center;
      color: white;
      background-color: #1D1C1C;
      font-size: 0.7em;
      width: 100%;
      line-height: 2em;
      font-style: normal;
      opacity: 0;  
      &.film-title{
        border-radius: 5px 5px 0px 0px
      }
      &.film-director{
        border-radius: 0px 0px 5px 5px
      }    

    }
  }
  .film-small{
    margin: 1px;
    display: block;
    float: left;
    img{
      height: 90px;
      width: 60px; 
    }
    .tiled{
      opacity: 0
    }
    &:hover .tiled{
      opacity: 1
    }
  }
}

.film-w130{
  margin: 1px;
  display: block;
  float: left;
  img{
    width: 130px;
    height: 195px;
  }
}


.film-w92{
  margin: 1px;
  display: block;
  float: left;
  img{
    width: 92px;
    height: 139px;
  }
}

.film-w154{
  margin: 1px;
  display: block;
  float: left;
  img{
    width: 154px;
    height: 231px;
  }
}

.film-selected{
  border: solid 1px;
}

.film-actions{
  color:white;
  list-style: none;
  left: 8px;
  top: 200px;
  position: absolute;
  li{
    float:left;
    // background-color: black;
  }
}

.film-actions-queue{
  color:white;
  list-style: none;
  position: absolute;
  top: 60px;
  margin-left: 15px;
  opacity: 0.5;
  li{
    float:left;
    // background-color: black;
  }
  
}

.unactioned{
  &:hover{
    opacity: 1 ;
  }
}
.icon-eye-open {
  &.actioned{
    color:$watchedColor;
  }
}

.icon-heart {
  &.actioned{
    color:$lovedColor;
  }
}

.icon-heart-empty {
  &.actioned{
    color:$unlovedColor;
  }
}

.icon-pushpin {
  &.actioned{
    color:$queuedColor;
  }
}

.icon-home {
  &.actioned{
    color:$ownedColor;
  }
}

#shopLinks{
  a{
    float:left;
    padding-top: 2px;
  }
}

.film-actions-horizontal{
  text-align: center;
  button{
    border: solid 3px black;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    padding-top: 2px;
    background-color: white;
    opacity: 1;
    padding: 0px;
  }
  i{
    position: relative;
    top:0px;
    font-size:16pt;
  }
}
.film-actions-vertical{
  button{
    margin: 2px 0px;
    border: solid 4px black;
    padding: 2px;
    border-radius: 5px;
    width: 60px;
    height:60px;
    background-color: white;
    label.count{
      font-size: 10pt;
      position: relative;
      bottom: 0px;
    }
    i{
      font-size: 3em;
    }
  }
}

