// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.films{
  height:auto;
  margin:1px;
  width:auto;
  padding:10px 0px;
  float:left;
  .film
  {
    margin: 10px;
    float:left;
   h4{
    font-size:12pt;
    color: white;
    padding-left:10px;
    margin-bottom:2px;
   }
   p{
    color: #ddd;
    font-style: italic;
    margin: 0px;
    padding-left:10px;
   }
   a{
    color:white;
   }
   img{
    height:237px;
    width:154px;
   }
  }
}