.sky-test{
  display: none;
  dt{
    float: left;
  }
  dd{
    float: left;
    margin: 0px 0px 0px 10px;
  }
  .filter{
    &.selected{
      background-color: #1DA497;
    }
  }
}

.filter-action{
  width:135px;
}

.hero{
  background-position-x: 0px;
  background-position-y: -50px;
}

.friendship{
  float: right
}