.sky-test{
  display: none;
  dt{
    float: left;
  }
  dd{
    float: left;
    margin: 0px 0px 0px 10px;
  }
  .filter{
    &.selected{
      background-color: #1DA497;
    }
  }
}

.filter-action{
  width:135px;
}

.hero{
  background-position-x: 0px;
  // background-position-y: -80px;
}

.pod .friendship{
  float: right
}

.filmography .columns:last-child{
  float: left;
}

// .film_hero{
//   position: relative;
//   top: -80px;
// }