#userList{
  textarea{
    height:100px
  }
  ol{
    margin-left: 0px;
    li{
      border: solid 1px rgba(90, 206, 213, 0.37);
      border-radius: 10px;
      // padding: 3px;
      // margin: 3px 0px;
      background-color: rgb(241, 241, 241);
      display: inline-block;
      width: 100%;
      line-height: 1;
      p{
        margin-bottom: 5px;
        font-size: 8pt;
      }
      p + a{
        font-size: 8pt;
      }
      > div{
        padding: 5px;
      }
      .title{
        font-size: 1.2em;
        font-style: italic;
        font-weight: bold;
        // padding-bottom: 10px;
      }
      .film-summary{
      }
      .position {
        text-align: center;
        padding-top: 15%;
        font-size: 2em;
      }
      a img{
        // padding: 10px;
      }
      .tiled{
        margin: 12px !important;
        position: relative;
        i{
          cursor: pointer
        }

      }
    }
  }

.film-actions-vertical{
  button{
    margin: 2px 0px;
    border: solid 2px black;
    padding: 2px;
    border-radius: 5px;
    width: 45px;
    height:45px;
    background-color: white;
    label.count{
      font-size: 10pt;
      position: relative;
      bottom: 0px;
    }
    i{
      font-size: 18pt;
    }
  }
}
}

ul.user-list{
  list-style: none
}

.list-summary{
  border: solid 2px black;
  border-radius: 7px;
  cursor: pointer;
  label.count{
    text-align: center;
    font-size: 12pt;
  }
  &:hover{
    background-color: #F3F3F3;
  }
}

.user-list{
  padding:0px;
  .film{
    img.small{
      width: 90px;
      height: 130px;      
    }
  } 
  .film:not(:first-child){
    margin-left: -60px;
    position: relative;
    img.small{
      border-left: solid #5C5C5C 1px;
    }
  }
}

.user-actions{
  .button{
    float: right;
    position: absolute;
    right: 0px;
    bottom: -22px;
  }
}

#queueListModal{
  border-radius: 10px;
  background-color: gray;
  color: white;
  border: solid 1px black;
  .close-reveal-modal{
    z-index: 999;
    color:white;
    text-shadow: 0 -1px 1px black;
  }
  h5, h6{
    margin:0px 0px 10px 0px;
  }
}