
#userProfile{
  padding-top: 10px;
  .film-banner{
    border-bottom: 2px solid black;
    margin-bottom: 20px;
  }
      iframe{
      height: 230px;
      width: 385px
    }
  .counter{
    font-size: 4em;
    a{
      color:black;
    }
    label{
      padding-left: 10px;
      display: inline;
      font-size: 32pt;
    }

  }
  // background:  url(http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w1280/lJz2X8dEM1eiKxupmPUI7WVwEtK.jpg) top center no-repeat;
}