#userList{
  textarea{
    height:100px
  }


  ol{
    li{
      border: solid 1px rgba(90, 206, 213, 0.37);
      border-radius: 10px;
      padding: 3px;
      margin: 3px 0px;
      background-color: rgb(241, 241, 241);
      display: inline-block;
      width: 100%;
      line-height: 1;
      .title{
        font-size:1.2em;
        font-style: italic;
      }
      .position {
        text-align: center;
        padding-top: 30%;
        font-size: 2em;
      }
      a img{
        // padding: 10px;
      }
      .tiled{
        margin: 12px !important;
        position: relative;
        i{
          cursor: pointer
        }

      }
    }
    
  }

}


.list-summary{
  border-bottom: solid 1px black;
  border: solid 1px transparent;
  border-radius: 7px;
  padding: 10px 5px;
  label.count{
    text-align: center;
    font-size: 12pt;
  }
  &:hover{
    border-color: black;
  }
}

.user-list{
  padding:0px;
  .film{
    img.small{
      width: 90px;
      height: 130px;      
    }

  } 
  .film:not(:first-child){
    margin-left: -60px;
    position: relative;
    img.small{
      border-left: solid #5C5C5C 1px;
    }
  }
}