
.user-details{
  padding-top: 10px;
  h6, h5{
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .user-banner{
  }

  .counter{
    a{
      color:black;
    }
    label{
      padding-left: 10px;
      display: inline;
      font-size: 32pt;
    }
  }


  .nav-container
  {
    // height: 100%;
    // position: relative;
    .sub-nav
    {
      i{
        font-size: 2em;
        box-shadow: 3px 3px 12px #6D6D6D;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 200px;
        padding: 6px;
        margin-bottom: 5px;
      }

      dd{
        display: block;
        margin-bottom: 0px;
        text-align: center;
        width: 70px;
        padding: 0px;
        margin-right: 0px;
        margin-left: 0px;
        a{
          color: black;
          label{
            margin-top: 10px;
          }
        }
        a:hover, .actioned
        {
          color: #4387BD;
          label, .actioned{
            color: #4387BD
          }
        }
      }
      dt{
          margin-bottom: 0px;
      }
    }
  }


  p{
    text-align: justify;
  }
  // background:  url(http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w1280/lJz2X8dEM1eiKxupmPUI7WVwEtK.jpg) top center no-repeat;
}

