#userList{
  textarea{
    height:100px
  }


  ol{
    li{
      border: solid 1px rgba(90, 206, 213, 0.37);
      border-radius: 10px;
      padding: 10px;
      margin: 3px 0px;
      background-color: rgb(241, 241, 241);
      display: inline-block;
      width: 100%;
      a img{
        // padding: 10px;
      }
      .tiled{
        margin: 12px !important;
        position: relative;
        i{
          cursor: pointer
        }

      }
    }
    
  }

}


.list-summary{
  border-bottom: dashed 1px black;
}
