<% [:watched, :loved, :owned, :queued].each do |action| %>
  <li>
    <%= link_to user_film_path(current_user, action) do %>
    <%= icon_for action, false %>
    <%= action.capitalize %>
    <% end %>
  </li>
<% end %>