
<% if params[:msg] %>
  <div class="alert-box seven columns centered success">
    <span class="message"><%= alert_msg %></span>        
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
<% if params[:err] %>
  <div class="alert-box seven twelve columns centered alert">
    <span class="message"><%= error_msg %></span>        
    <a href="#" class="close">&times;</a>
  </div>
<% end %>  
