
<div data-bind="style: {display: 'block'}" class="image_carousel" style="display:none">
  <%= render partial: 'app/queue_actions'%>
  <div id="foo2" data-bind="foreach: films" class="films" >

    <div class="film-small" >
      <ul class="film-actions-queue" data-bind="with: actions[3]">
        <div class="film-actions-horizontal">
          <button data-bind="click: action" class="tiled left">
            <i class="icon-eject"></i>
          </button>
        </div>
      </ul>
      <span class="film-small" data-bind="css:{'film-selected': selected}, click: select">
        <img data-bind="attr: {src: thumbnail, title: title}" class="small"/>
      </span>
    </div>
  </div>
  <div class="clearfix"></div>
  <a class="prev" id="foo2_prev" href="#"><i class="icon-chevron-left icon-2x"></i> </a>
  <a class="next" id="foo2_next" href="#"><i class="icon-chevron-right icon-2x"></i></a>
  
</div>


