  <div class="full-row white-row margin-bottom">
    <div class="row">
          <div class="large-4 small-12 large-offset-4 columns text-center">
              <ul class="social">
                  <li class="facebook"><a href="https://www.facebook.com/heyfilmlovers?ref=hl" rel="publisher" target="_blank">Facebook</a></li>
                  <li class="twitter"><a href="http://twitter.com/heyfilmlovers" rel="publisher" target="_blank">Twitter</a></li>
                  <li class="google"><a href="https://plus.google.com/u/0/b/102126390982504640495/communities/115013069818203491300" rel="publisher" target="_blank">Google +</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="row footer margin-bottom">
    <div class="large-6 small-12 large-offset-3 columns text-center">
        <ul class="footer-links">
            <li> <%= link_to 'About', site_path('about') %></li>
              <li>          <a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-primary-color="#cc6d00" data-uv-link-color="#007dbf" data-uv-default-mode="feedback" data-uv-forum-id="200001">feedback</a></li>
              <li>          <a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-primary-color="#cc6d00" data-uv-link-color="#007dbf" data-uv-default-mode="support" data-uv-forum-id="200001">contact</a></li>
              <li> <%= link_to 'terms', site_path('terms') %></li>
          </ul>
          <p>&copy; filmlovers ltd 2013, all rights reserved. film data supplied by <a href="http://themoviedb.org" target="_blank">TMDb</a></p>
      </div>
  </div>