
<div data-bind="style: {display: 'block'}" class="image_carousel" style="display:none">
  <%= render partial: 'app/queue'%>
  <div id="foo2" data-bind="foreach: films" class="films" >

    <div class="film-small" >
      <ul class="film-actions-queue" data-bind="with: actions[3]">
        <div class="film-actions-horizontal">
          <div class="tiled left">
            <a data-bind="click: action">
              <i data-bind="css: actionCSS"></i>
            </a>
          </div>
        </div>
      </ul>
      <a class="film-small" data-bind="attr: {href: url}, css:{'film-selected': selected}, click: select">
        <img data-bind="attr: {src: thumbnail, title: title}" class="small"/>
      </a>
    </div>
  </div>
  <div class="clearfix"></div>
  <a class="prev" id="foo2_prev" href="#"><i class="icon-chevron-left icon-2x"></i> </a>
  <a class="next" id="foo2_next" href="#"><i class="icon-chevron-right icon-2x"></i></a>
  
</div>


