
<div data-bind="style: {display: 'block'}" class="image_carousel" style="display:none">
  <%= render partial: 'app/queue'%>
  <div id="foo2" data-bind="foreach: films" >
    <a class="film-small" data-bind="attr: {href: url}">
      <img data-bind="attr: {src: thumbnail, title: title}" class="small"/>
    </a>
  </div>
  <div class="clearfix"></div>
  <a class="prev" id="foo2_prev" href="#"><i class="icon-chevron-left icon-2x"></i> </a>
  <a class="next" id="foo2_next" href="#"><i class="icon-chevron-right icon-2x"></i></a>
  
</div>


