<div class="twelve columns user-details">

  <div class="user-banner">
    <div class="one columns user-image">
      <%= avatar current_user %>
    </div>
    <div class="six columns user-name">
       <h3><%= current_user.username %></h3>
    </div>
    <div class="five columns nav-container">
    </div>
  </div>

  <%= yield %>
</div>

