
<div id="viewContent" style="display:none" class="twelve columns" data-bind="visible: true">
  <%= yield %>
</div>

<script type="text/javascript">
RequestsController.linkView('<%= current_url(format: :json) %>', <%= model %>, <%= "$('#viewContent')".html_safe %>)
</script>